body {
  width: 400px;
  height: 600px;
  padding: 10px;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

textarea {
  width: 100%;
  height: 90%;
}

.input-area input {
  width: 100%;
}

.input-area {
  width: 100%;
  height: 50px;
}

.transcript-area {
  height: 400px;
}
